<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/" ><img src="./assets/images/logo.jpg" height="50" width="50">
       </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/property">Properties<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search Property</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="/search-by-streetname">By Streetname</a>
                    <a class="dropdown-item" routerLink="/search-by-city">By City</a>
                </div>
            </li>
        </ul>
        <a  class="nav-link" routerLink="/dashboard">Dashboard</a>
        
        
    </div>
    
</nav>

<router-outlet></router-outlet>
